body{
	background-color: #fff;
    background-image: url('../images/user-img-background3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.panel {
    margin-bottom: 22px;
    background-color: #ffffff1a;
    border: 1px solid #ffffff1a;
    border-radius: 4px;
    box-shadow: 0 1px 1px #0f0f0f1a;
    color: #000;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #05040433;
    border-color: #d3e0e9;
    color: #fff;
}
